.wrapper {
  position: relative;
}

.container {
  max-width: 1100px;
}

header {
  background-image: url("../img/wall.png");
}

main {
  min-height: 100vh;
  height: 100%;
  background-image: url("../img/cork.png");
}

h1,
.card-text {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: 5rem;
}

#pinboard .card {
  cursor: pointer;
  position: relative;

  transform: rotate(0deg);
  transition: all 500ms;

  box-shadow: 5px 5px 8px -1px;
}

#pinboard .card:hover {
  transform: rotate(15deg) scale(1.1, 1.1);
  transition: all 500ms;
  z-index: 1;

  box-shadow: 10px 10px 0px 2px;
}

#pinboard .card:hover .pin {
  opacity: 0;
}

.card-text {
  font-size: 1.2rem;
}

/* pin sulle card */
[src="./img/pin.svg"] {
  height: 2rem;

  position: absolute;
  top: -3%;
  left: 0;
  right: 0;
  margin: auto;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#overlay .container {
  max-width: 600px;
  min-height: 100vh;

  display: flex;
  align-items: center;
}
